@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

div, button, img {
  box-sizing: border-box;
}


